* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-align: center;
}

.taskMargin {
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px 140px 10px 15px;
    text-align: left;
    font-size: 22px;
    position: relative;
}

.taskMargin div {
    display: flex;
    align-items: center;
}

.indexSpan {
    color:  #22559c;
    border: 1px solid  #22559c;
    background-color: #22559c;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin-right: 8px;
}

.taskSection .done .taskItem {
    text-decoration: line-through;
    opacity: 0.2;
}

.done {
    background-color: #bbe4e9;
}

.icons {
    position: absolute;
    display: flex;
    width: auto;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.icons span {
    cursor: pointer;
    display: inline-block;
    margin: 0 6px;
}

.delete {
    color: #bc2525;
}

.delete:hover {
    color:  #f95959;
}

.status {
    color: #22559c;
}

.edit {
    color: #363434;
}

.status:hover {
    color: #22b2da;
}

.edit:hover {
    color: #5c5757;
}

.inputSection input {
    margin-left: 15px;
}

.updateBtns button{
    margin-right: 5px;
}

.addBtns{
    padding: 15px 0;
}

.updateSection {
    margin-bottom: 15px;
}

.btnColor {
    border: #a7cd78;
    background-color: #a7cd78;
}

.btnColor:hover {
    border: #a1dd70;
    background-color: #a1dd70;
}

.btnColorCancel {
    border: #bc2525;
    background-color: #bc2525;
}

.pending {
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 15px;
    border: #a7cd78;
    border-radius: 8px;
    background-color: #a7cd78;
    color: white;
    font-size: 20px;
}


